.background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background-image: url($background-image);
  background-size: cover;
  background-position: center;
  z-index: -1;
  transform: translate(-50%, -50%);
  filter: blur($background-blur);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $text-colour;
  position: relative;
  overflow: hidden;
  background-color: black;
}

main {
  z-index: -1;
  position: relative;
}