.sl-c-button {
	display: inline-block;
	border-radius: map-get($buttons, border-radius);
	padding: .75rem 1.5rem;
	font-weight: bold;
	text-decoration: none;

	&--primary {
		background-color: var(--accent-colour);
		color: #ffffff;

		&:hover {
			background-color: var(--accent-colour-dark);
		}
	}

	&--secondary {
		background-color: light-dark(
			var(--light-button-bg-colour),
			var(--dark-button-bg-colour)
		);
		color: light-dark(var(--light-text-colour), var(--dark-text-colour));

		&:hover {
			background-color: light-dark(
				var(--light-button-hover-colour),
				var(--dark-button-hover-colour)
			);
		}
	}
}
