.sl-c-contact {
  &__title {
    margin-bottom: 1.5rem;
    color: var(--accent-colour);
    font-size: map-get($font-sizes, xxlarge);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input,
  &__textarea {
    border: none;
    border-radius: .5rem;
    background-color: light-dark(var(--light-input-bg-colour),
        var(--dark-input-bg-colour));
    padding: .75rem 1rem;
    font-size: map-get($font-sizes, medium);

    &::placeholder {
      color: slategrey;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--accent-colour);
    }
  }

  &__textarea {
    min-height: 120px;
    resize: vertical;
  }

  &__submit {
    align-self: flex-start;
    width: 100%;
    font-size: map-get($font-sizes, medium);
    letter-spacing: .05em;
    text-transform: uppercase;
  }

  &__success {
    font-size: map-get($font-sizes, large);
    text-align: center;

    i {
      margin-bottom: 1rem;
      color: limegreen;
      font-size: map-get($font-sizes, xxxlarge);
    }

    p {
      margin: 0;
    }
  }

  &__failure {
    font-size: map-get($font-sizes, large);
    text-align: center;

    i {
      margin-bottom: 1rem;
      color: red;
      font-size: map-get($font-sizes, xxxlarge);
    }

    p {
      margin: 0;
    }
  }

  &__logo {
    @include floating;
  }
}