.sl-c-footer {
	margin-top: auto;
	background-color: light-dark(var(--light-bg-colour), var(--dark-bg-colour));
	padding: map-get($padding, xs) 0;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 0 map-get($padding, xs);
		max-width: map-get($content-sizes, max-xxl);
	}

	&__social-icons {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-bottom: map-get($margins, xs);

		a {
			color: light-dark(var(--light-text-colour), var(--dark-text-colour));
			font-size: map-get($font-sizes, xl);

			&:hover {
				@include smooth-transiton();
				color: var(--accent-colour);
			}
		}
	}

	&__copyright {
		margin-top: map-get($margins, xs);
		color: light-dark(var(--light-text-colour), var(--dark-text-colour));
		font-size: map-get($font-sizes, m);
		text-align: center;
	}
}
