.sl-c-footer {
	background-color: light-dark(var(--light-bg-colour), var(--dark-bg-colour));
	padding: .25rem 0;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 0 .25rem;
		max-width: 1200px;
	}

	&__social-icons {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-bottom: .125rem;

		a {
			color: light-dark(var(--light-text-colour), var(--dark-text-colour));
			font-size: 1.5rem;

			&:hover {
				color: var(--accent-colour);
			}
		}
	}

	&__copyright {
		margin-top: .125rem;
		color: light-dark(var(--light-text-colour), var(--dark-text-colour));
		font-size: 1rem;
		text-align: center;
	}
}
