.sl-c-hero {
	&__title {
		margin-bottom: map-get($margins, xs);
		color: light-dark(var(--light-text-colour), var(--dark-text-colour));
		font-weight: bold;
		font-size: map-get($font-sizes, xxl);
		line-height: 1.2;
	}

	&__name {
		color: var(--accent-colour);
	}

	&__description {
		margin-bottom: map-get($margins, xl);
		max-width: map-get($content-sizes, max-m);
		color: light-dark(var(--light-text-colour), var(--dark-text-colour));
		font-size: map-get($font-sizes, m);

		@include desktop {
			font-size: map-get($font-sizes, l);
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;

		@include desktop {
			flex-direction: row;
			width: auto;
		}

		.sl-c-button {
			width: 100%;
			text-align: center;

			@include desktop {
				width: auto;
			}
		}
	}

	&__logo {
		@include floating;
	}
}