.sl-c-throbber {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	background-color: light-dark(var(--light-bg-colour), var(--dark-bg-colour));
	transition: opacity .3s ease, visibility .3s ease;

	&.is-active {
		visibility: visible;
		opacity: 1;
	}

	&__spinner {
		border: 3px solid var(--accent-colour);
		border-top: 3px solid transparent;
		border-radius: 50%;
		width: map-get($sizes, min-m);
		height: map-get($sizes, min-m);
		@include spinning();
	}
}