html {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1.5em; /* 24px */
  margin-bottom: .5em; /* 8px */
}

h1 { font-size: 2.25rem; } /* 36px */
h2 { font-size: 1.875rem; } /* 30px */
h3 { font-size: 1.5rem; } /* 24px */
h4 { font-size: 1.25rem; } /* 20px */
h5 { font-size: 1.125rem; } /* 18px */
h6 { font-size: 1rem; } /* 16px */

p {
  margin-bottom: 1rem; /* 16px */
}

ul, ol {
  margin-bottom: 1rem; /* 16px */
  padding-left: 1.5rem; /* 24px */
}

a {
  @apply text-blue-500 underline;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem; /* 16px */
  font-style: italic;
}

code {
  font-family: ui-monospace, monospace;
  font-size: .875em; /* 14px */
  padding: .2em .4em; /* 3px 6px */
  border-radius: .25rem; /* 4px */
}

hr {
  border: 0;
  border-top: 1px solid; /* 16px */
  margin: 2rem 0; /* 32px */
}