$colours-vibrant: (
	darkest: #000033,
	darker: #001177,
	dark: #005599,
	light: #bbffff,
	accent: #0066ff
);

$colours-greyscale: (
	100: white,
	200: #e5e7eb,
	300: #d1d5db,
	400: #9ca3af,
	500: #6b7280,
	600: #4b5563,
	700: #374151,
	800: #1f2937,
	900: #0d0d1a
);

$breakpoints: (
	mobile: 768px,
	tablet: 1024px,
	desktop: 1280px
);

$spacing: (
	small: 1rem,
	medium: 2rem,
	large: 4rem
);

$font-sizes: (
	small: .875rem,
	medium: 1rem,
	large: 1.25rem,
	xlarge: 1.5rem,
	xxlarge: 2rem,
	xxxlarge: 3rem
);

$border-radius: (
	small: .25rem,
	medium: .5rem,
	large: 1rem
);
