$colours-vibrant: (
	darkest: #000033,
	darker: #001177,
	dark: #005599,
	light: #bbffff,
	accent: #0066ff
);

$colours-greyscale: (
	100: #ffffff,
	200: #e5e7eb,
	300: #d1d5db,
	400: #9ca3af,
	500: #6b7280,
	600: #4b5563,
	700: #374151,
	800: #1f2937,
	900: #0d0d1a
);

$buttons: (border-radius: .5rem);
