<body class="sl-l-body">
	<div class="sl-c-throbber" id="loadingOverlay">
		<div class="sl-c-throbber__spinner"></div>
	</div>
	{{ include "layouts/container.vto" }}

	{{ comp.common.footer() }}

	{{ include "partials/scripts.vto" }}
</body>
