.sl-l-content-split {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: map-get($padding, m);

	@include desktop {
		padding: map-get($padding, l);
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		box-shadow: 0 10px 30px #0000001a;
		border-radius: 1rem;
		background-color: light-dark(
			var(--dark-text-colour),
			var(--light-text-colour)
		);
		max-width: 100%;
		overflow: hidden;

		@include desktop {
			flex-direction: row;
			justify-content: space-between;
			max-width: map-get($content-sizes, max-xxl);
			min-height: map-get($content-sizes, max-s);
		}
	}

	&__content, &__image-container {
		padding: map-get($padding, l);
		width: 100%;

		@include desktop {
			width: 50%;
		}
	}

	&__image-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		max-width: 80%;
		height: auto;
	}
}
