@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position-fixed($top: null, $right: null, $bottom: null, $left: null) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin responsive-font-size($min, $max) {
  font-size: clamp(#{$min}px, 2vw + 1rem, #{$max}px);
}