<body>
  {{ include "partials/header.vto" }}
  {{ include "partials/main.vto" }}
  {{ include "partials/footer.vto" }}
  
  <script src="js/clock.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/parallax.min.js"></script>
</body>